<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon collapsible__chevron">
      <use href="/icons/chevron.svg"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo consequuntur
    dolorem cum quasi amet, hic ipsa suscipit deleniti optio recusandae.
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 2</h2>
    <svg class="icon collapsible__chevron">
      <use href="/icons/chevron.svg"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo consequuntur
    dolorem cum quasi amet, hic ipsa suscipit deleniti optio recusandae.
  </div>
</div>
<script src="/js/main.js"></script>
